<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shoppers &mdash; Colorlib e-Commerce Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="../Temp17/fonts/icomoon/style.css">

    <link rel="stylesheet" href="../Temp17/css/bootstrap.min.css">
    <link rel="stylesheet" href="../Temp17/css/magnific-popup.css">
    <link rel="stylesheet" href="../Temp17/css/jquery-ui.css">
    <link rel="stylesheet" href="../Temp17/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../Temp17/css/owl.theme.default.min.css">


    <link rel="stylesheet" href="../Temp17/css/aos.css">

    <link rel="stylesheet" href="../Temp17/css/style.css">

</head>
<body>

    <div class="site-wrap">
        
        @await Html.PartialAsync("Header")
        <div class="bg-light py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-0"><a asp-action="Index">Home</a> <span class="mx-2 mb-0"></span> </div>
                </div>
            </div>
        </div>
        <div class="site-section" style="display: flex; justify-content: center; align-items: center; height: 100%;">
            <div class="container">
                
                    @RenderBody()
               
            </div>
        </div>
        
        @await Html.PartialAsync("Footer")
    </div>

    <script src="../Temp17/js/jquery-3.3.1.min.js"></script>
    <script src="../Temp17/js/jquery-ui.js"></script>
    <script src="../Temp17/js/popper.min.js"></script>
    <script src="../Temp17/js/bootstrap.min.js"></script>
    <script src="../Temp17/js/owl.carousel.min.js"></script>
    <script src="../Temp17/js/jquery.magnific-popup.min.js"></script>
    <script src="../Temp17/js/aos.js"></script>
    <script src="../Temp17/js/main.js"></script>
</body>
</html>