
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shoppers &mdash; Colorlib e-Commerce Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="../Temp17/fonts/icomoon/style.css">

    <link rel="stylesheet" href="../Temp17/css/bootstrap.min.css">
    <link rel="stylesheet" href="../Temp17/css/magnific-popup.css">
    <link rel="stylesheet" href="../Temp17/css/jquery-ui.css">
    <link rel="stylesheet" href="../Temp17/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../Temp17/css/owl.theme.default.min.css">


    <link rel="stylesheet" href="../Temp17/css/aos.css">

    <link rel="stylesheet" href="../Temp17/css/style.css">

</head>
<body>

    <div class="site-wrap">
        @await Html.PartialAsync("Header")
        <div class="site-blocks-cover" style="background-image: url(../Temp17/images/hero_1.jpg);" data-aos="fade">
            <div class="container">
                <div class="row align-items-start align-items-md-center justify-content-end">
                    <div class="col-md-5 text-center text-md-left pt-5 pt-md-0">
                        <h1 class="mb-2">Finding Your Perfect Shoes</h1>
                        <div class="intro-text text-center text-md-left">
                            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan tincidunt fringilla. </p>
                            <p>
                                <a href="#" class="btn btn-sm btn-primary">Shop Now</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
          
                
       
                
                    @RenderBody()
                
               
            
       
        @await Html.PartialAsync("Footer")
    </div>

    <script src="../Temp17/js/jquery-3.3.1.min.js"></script>
    <script src="../Temp17/js/jquery-ui.js"></script>
    <script src="../Temp17/js/popper.min.js"></script>
    <script src="../Temp17/js/bootstrap.min.js"></script>
    <script src="../Temp17/js/owl.carousel.min.js"></script>
    <script src="../Temp17/js/jquery.magnific-popup.min.js"></script>
    <script src="../Temp17/js/aos.js"></script>

    <script src="../Temp17/js/main.js"></script>

</body>
</html>