@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutHotel";
}

<!-- danh sách phòng -->
<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto text-center mb-5 section-heading">
                <h2 class="mb-5">Danh sách phòng</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="hotel-room text-center">
                    <a href="#" class="d-block mb-0 thumbnail"><img src="bin/images//img_1.jpg" alt="Image" class="img-fluid"></a>
                    <div class="hotel-room-body">
                        <h3 class="heading mb-0"><a href="#">Phòng thường</a></h3>
                        <strong class="price">350.000đ / một đêm</strong>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="hotel-room text-center">
                    <a href="#" class="d-block mb-0 thumbnail"><img src="bin/images//img_2.jpg" alt="Image" class="img-fluid"></a>
                    <div class="hotel-room-body">
                        <h3 class="heading mb-0"><a href="#">Phòng gia đình</a></h3>
                        <strong class="price">500.000đ / một đêm</strong>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="hotel-room text-center">
                    <a href="#" class="d-block mb-0 thumbnail"><img src="bin/images//img_3.jpg" alt="Image" class="img-fluid"></a>
                    <div class="hotel-room-body">
                        <h3 class="heading mb-0"><a href="#">Phòng đơn</a></h3>
                        <strong class="price">250.000đ / một đêm</strong>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-5">
                <div class="hotel-room text-center">
                    <a href="#" class="d-block mb-0 thumbnail"><img src="bin/images//img_1.jpg" alt="Image" class="img-fluid"></a>
                    <div class="hotel-room-body">
                        <h3 class="heading mb-0"><a href="#">Phòng đôi</a></h3>
                        <strong class="price">300.000đ / một đêm</strong>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="hotel-room text-center">
                    <a href="#" class="d-block mb-0 thumbnail"><img src="bin/images//img_2.jpg" alt="Image" class="img-fluid"></a>
                    <div class="hotel-room-body">
                        <h3 class="heading mb-0"><a href="#">Phòng cao cấp</a></h3>
                        <strong class="price">800.000đ / một đêm</strong>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="hotel-room text-center">
                    <a href="#" class="d-block mb-0 thumbnail"><img src="bin/images//img_3.jpg" alt="Image" class="img-fluid"></a>
                    <div class="hotel-room-body">
                        <h3 class="heading mb-0"><a href="#">Phòng đơn</a></h3>
                        <strong class="price">100.000đ / một đêm</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
