USE [QuanLyDiemTruongDaiHocV3]
GO
/****** Object:  Table [dbo].[BoMon]    Script Date: 21/8/2024 3:15:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BoMon](
	[MaBoMon] [varchar](10) NOT NULL,
	[TenBoMon] [nvarchar](200) NULL,
	[TenTiengAnh] [varchar](200) NULL,
	[MaKhoa] [varchar](10) NULL,
	[TruongBoMon] [varchar](10) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[DienThoai] [varchar](15) NULL,
	[Email] [varchar](50) NULL,
 CONSTRAINT [pk_BoMon] PRIMARY KEY CLUSTERED 
(
	[MaBoMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChuongTrinhDaoTao]    Script Date: 21/8/2024 3:15:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuongTrinhDaoTao](
	[MaCTDT] [varchar](25) NOT NULL,
	[TenCTDT] [nvarchar](200) NULL,
	[TenCTDTTiengAnh] [varchar](200) NULL,
	[MaKhoa] [varchar](10) NULL,
	[NganhApDung] [nvarchar](200) NULL,
	[KhoaHocApDung] [varchar](10) NULL,
 CONSTRAINT [pk_ChuongTrinhDaoTao] PRIMARY KEY CLUSTERED 
(
	[MaCTDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTDT_HocPhan]    Script Date: 21/8/2024 3:15:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDT_HocPhan](
	[MaCTDT] [varchar](25) NOT NULL,
	[MaHocPhan] [varchar](25) NOT NULL,
	[KyHoc] [int] NULL,
 CONSTRAINT [pk_CTDT_HocPhan] PRIMARY KEY CLUSTERED 
(
	[MaCTDT] ASC,
	[MaHocPhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiangVien]    Script Date: 21/8/2024 3:15:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiangVien](
	[MaGiangVien] [varchar](10) NOT NULL,
	[HoDem] [nvarchar](35) NULL,
	[Ten] [nvarchar](35) NULL,
	[MaBoMon] [varchar](10) NULL,
	[NgaySinh] [date] NULL,
	[HocHam] [nvarchar](20) NULL,
	[HocVi] [nvarchar](20) NULL,
	[ChucDanh] [nvarchar](20) NULL,
	[DienThoai] [varchar](15) NULL,
	[Email] [varchar](50) NULL,
 CONSTRAINT [pk_GiangVien] PRIMARY KEY CLUSTERED 
(
	[MaGiangVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HocPhan]    Script Date: 21/8/2024 3:15:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocPhan](
	[MaHocPhan] [varchar](25) NOT NULL,
	[TenHocPhan] [nvarchar](200) NULL,
	[TenTiengAnh] [nvarchar](200) NULL,
	[MaBoMon] [varchar](10) NULL,
	[SoTinChi] [int] NULL,
	[TrongSoDiemQuaTrinh] [float] NULL,
	[TrongSoDiemThiKTHP] [float] NULL,
 CONSTRAINT [pk_HocPhan] PRIMARY KEY CLUSTERED 
(
	[MaHocPhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HocPhanTienQuyet]    Script Date: 21/8/2024 3:15:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocPhanTienQuyet](
	[MaHocPhan] [varchar](25) NOT NULL,
	[MaHocPhanTienQuyet] [varchar](25) NOT NULL,
	[RangBuoc] [bit] NULL,
 CONSTRAINT [pk_HocPhanTienQuyet] PRIMARY KEY CLUSTERED 
(
	[MaHocPhan] ASC,
	[MaHocPhanTienQuyet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khoa]    Script Date: 21/8/2024 3:15:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoa](
	[MaKhoa] [varchar](10) NOT NULL,
	[TenKhoa] [nvarchar](200) NULL,
	[TenTiengAnh] [nvarchar](200) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[DienThoai] [varchar](15) NULL,
	[Email] [varchar](50) NULL,
	[Website] [ntext] NULL,
 CONSTRAINT [pk_Khoa] PRIMARY KEY CLUSTERED 
(
	[MaKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lop]    Script Date: 21/8/2024 3:15:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lop](
	[MaLop] [varchar](25) NOT NULL,
	[TenLop] [nvarchar](200) NULL,
	[MaKhoa] [varchar](10) NULL,
	[KhoaHoc] [varchar](10) NULL,
 CONSTRAINT [pk_Lop] PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopHocPhan]    Script Date: 21/8/2024 3:15:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHocPhan](
	[MaHocPhan] [varchar](25) NOT NULL,
	[MaLopHocPhan] [varchar](25) NOT NULL,
	[TenLopHocPhan] [nvarchar](200) NULL,
	[MaGiangVien] [varchar](10) NULL,
	[NamHoc] [varchar](20) NULL,
	[HocKy] [int] NULL,
	[DotHoc] [int] NULL,
 CONSTRAINT [pk_LopHocPhan] PRIMARY KEY CLUSTERED 
(
	[MaHocPhan] ASC,
	[MaLopHocPhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopHocPhan_SinhVien]    Script Date: 21/8/2024 3:15:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHocPhan_SinhVien](
	[MaHocPhan] [varchar](25) NOT NULL,
	[MaLopHocPhan] [varchar](25) NOT NULL,
	[MaSinhVien] [varchar](10) NOT NULL,
	[DiemQuaTrinh] [float] NULL,
	[DiemThiKTHP] [float] NULL,
	[DiemTKHP] [float] NULL,
	[DiemHeChu] [varchar](10) NULL,
	[LanHoc] [int] NULL,
 CONSTRAINT [pk_LopHocPhan_SinhVien] PRIMARY KEY CLUSTERED 
(
	[MaHocPhan] ASC,
	[MaLopHocPhan] ASC,
	[MaSinhVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 21/8/2024 3:15:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MaSinhVien] [varchar](10) NOT NULL,
	[HoDem] [nvarchar](35) NULL,
	[Ten] [nvarchar](35) NULL,
	[MaCTDT] [varchar](25) NULL,
	[MaLop] [varchar](25) NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](250) NULL,
	[DienThoai] [varchar](15) NULL,
	[Email] [varchar](50) NULL,
 CONSTRAINT [pk_SinhVien] PRIMARY KEY CLUSTERED 
(
	[MaSinhVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BoMon] ([MaBoMon], [TenBoMon], [TenTiengAnh], [MaKhoa], [TruongBoMon], [DiaChi], [DienThoai], [Email]) VALUES (N'CPM', N'CÔNG NGHỆ PHẦN MỀM', N'SOFTWARE TECHNOLOGY', N'CNTT', N'0172', N'310A9', N'0247899234', N'cpm@utc.edu.vn')
INSERT [dbo].[BoMon] ([MaBoMon], [TenBoMon], [TenTiengAnh], [MaKhoa], [TruongBoMon], [DiaChi], [DienThoai], [Email]) VALUES (N'KHM', N'KHOA HỌC MÁY TÍNH', N'COMPUTER SCIENCE', N'CNTT', N'1680', N'309A9', N'0243344556', N'khm@utc.edu.vn')
INSERT [dbo].[BoMon] ([MaBoMon], [TenBoMon], [TenTiengAnh], [MaKhoa], [TruongBoMon], [DiaChi], [DienThoai], [Email]) VALUES (N'MHT', N'MẠNG VÀ CÁC HỆ THỐNG THÔNG TIN', N'NETWORKS AND INFORMATION SYSTEMS', N'CNTT', N'1387', N'308A9', N'0248899889', N'mht@utc.edu.vn')
GO
INSERT [dbo].[ChuongTrinhDaoTao] ([MaCTDT], [TenCTDT], [TenCTDTTiengAnh], [MaKhoa], [NganhApDung], [KhoaHocApDung]) VALUES (N'7.48.01.01', N'KHOA HỌC MÁY TÍNH', NULL, NULL, NULL, N'63')
INSERT [dbo].[ChuongTrinhDaoTao] ([MaCTDT], [TenCTDT], [TenCTDTTiengAnh], [MaKhoa], [NganhApDung], [KhoaHocApDung]) VALUES (N'7.48.02.01', N'CÔNG NGHỆ THÔNG TIN', N'INFORMATION TECHNOLOGY', N'CNTT', N'CNTT', N'tu khoa 61')
INSERT [dbo].[ChuongTrinhDaoTao] ([MaCTDT], [TenCTDT], [TenCTDTTiengAnh], [MaKhoa], [NganhApDung], [KhoaHocApDung]) VALUES (N'7.48.02.01QT(IE3)', N'CHẤT LƯỢNG CAO CÔNG NGHỆ THÔNG TIN VIỆT ANH', N'HIGH QUALITY INFORMATION TECHNOLOGY', N'CNTT', N'CNTT', N'62')
GO
INSERT [dbo].[CTDT_HocPhan] ([MaCTDT], [MaHocPhan], [KyHoc]) VALUES (N'7.48.02.01', N'IT0.004.2', 1)
INSERT [dbo].[CTDT_HocPhan] ([MaCTDT], [MaHocPhan], [KyHoc]) VALUES (N'7.48.02.01', N'IT1.106.3', 3)
INSERT [dbo].[CTDT_HocPhan] ([MaCTDT], [MaHocPhan], [KyHoc]) VALUES (N'7.48.02.01', N'IT1.107.3', 3)
GO
INSERT [dbo].[GiangVien] ([MaGiangVien], [HoDem], [Ten], [MaBoMon], [NgaySinh], [HocHam], [HocVi], [ChucDanh], [DienThoai], [Email]) VALUES (N'0172', N'Nguyễn Trọng', N'Phúc', N'CPM', CAST(N'1976-01-01' AS Date), NULL, N'TS', N'GV', N'0888869999', N'NguyenTrongPhuc@utc.edu.vn')
INSERT [dbo].[GiangVien] ([MaGiangVien], [HoDem], [Ten], [MaBoMon], [NgaySinh], [HocHam], [HocVi], [ChucDanh], [DienThoai], [Email]) VALUES (N'0175', N'Nguyễn Trần ', N'Hạnh', N'KHM', CAST(N'1979-05-05' AS Date), NULL, N'ThS', N'GV', N'0967897777', N'NguyenTranHanh@utc.edu.vn')
INSERT [dbo].[GiangVien] ([MaGiangVien], [HoDem], [Ten], [MaBoMon], [NgaySinh], [HocHam], [HocVi], [ChucDanh], [DienThoai], [Email]) VALUES (N'0849', N'Nguyễn Anh', N'Tâm', N'MHT', CAST(N'2001-03-03' AS Date), NULL, N'KS', N'GV', N'0984000000', N'NguyenAnhTam@utc.edu.vn')
GO
INSERT [dbo].[HocPhan] ([MaHocPhan], [TenHocPhan], [TenTiengAnh], [MaBoMon], [SoTinChi], [TrongSoDiemQuaTrinh], [TrongSoDiemThiKTHP]) VALUES (N'IE3.002.3', N'Công nghệ Java', N'Java Programming Language', N'CPM', 3, 0.5, 0.5)
INSERT [dbo].[HocPhan] ([MaHocPhan], [TenHocPhan], [TenTiengAnh], [MaBoMon], [SoTinChi], [TrongSoDiemQuaTrinh], [TrongSoDiemThiKTHP]) VALUES (N'IE3.003.3', N'Lập trình web', N'Web Programming', N'MHT', 3, 0.5, 0.5)
INSERT [dbo].[HocPhan] ([MaHocPhan], [TenHocPhan], [TenTiengAnh], [MaBoMon], [SoTinChi], [TrongSoDiemQuaTrinh], [TrongSoDiemThiKTHP]) VALUES (N'IE3.004.3', N'Lập trình thiết bị di động', N'Mobile Device Programming', N'MHT', 3, 0.5, 0.5)
GO
INSERT [dbo].[HocPhanTienQuyet] ([MaHocPhan], [MaHocPhanTienQuyet], [RangBuoc]) VALUES (N'IE3.003.3', N'IT0.004.2', 0)
INSERT [dbo].[HocPhanTienQuyet] ([MaHocPhan], [MaHocPhanTienQuyet], [RangBuoc]) VALUES (N'IE3.003.3', N'IT1.106.3', 0)
INSERT [dbo].[HocPhanTienQuyet] ([MaHocPhan], [MaHocPhanTienQuyet], [RangBuoc]) VALUES (N'IE3.003.3', N'IT1.110.3', 1)
GO
INSERT [dbo].[Khoa] ([MaKhoa], [TenKhoa], [TenTiengAnh], [DiaChi], [DienThoai], [Email], [Website]) VALUES (N'CNTT', N'CÔNG NGHỆ THÔNG TIN', N'INFORMATION TECHNOLOGY', N'306A9   ', N'02435568668', N'cntt@utc.edu.vn', N'fit.utc.vn')
GO
INSERT [dbo].[Lop] ([MaLop], [TenLop], [MaKhoa], [KhoaHoc]) VALUES (N'K61.CNTT2', N'CÔNG NGHỆ THÔNG TIN 2', N'CNTT', N'61  ')
INSERT [dbo].[Lop] ([MaLop], [TenLop], [MaKhoa], [KhoaHoc]) VALUES (N'K62.CNTTVA2', N'CÔNG NGHỆ THÔNG TIN CHẤT LƯỢNG CAO VIỆT - ANH 2', N'CNTT', N'62  ')
GO
INSERT [dbo].[LopHocPhan] ([MaHocPhan], [MaLopHocPhan], [TenLopHocPhan], [MaGiangVien], [NamHoc], [HocKy], [DotHoc]) VALUES (N'IE3.002.3', N'1-2-22-QT02', N'Công nghệ Java-1-2-22(QT02)', N'0172', N'2022-2023', 2, 1)
INSERT [dbo].[LopHocPhan] ([MaHocPhan], [MaLopHocPhan], [TenLopHocPhan], [MaGiangVien], [NamHoc], [HocKy], [DotHoc]) VALUES (N'IE3.004.3', N'1-2-23-QT02', N'Lập trình thiết bị di động-1-2-23(QT02)', N'1268', N'2023-2024', 2, 1)
INSERT [dbo].[LopHocPhan] ([MaHocPhan], [MaLopHocPhan], [TenLopHocPhan], [MaGiangVien], [NamHoc], [HocKy], [DotHoc]) VALUES (N'IT1.110.3', N'1-2-22-N01', N'Cơ sở dữ liệu-1-2-22(N01)', N'1674', N'2022-2023', 2, 1)
GO
INSERT [dbo].[LopHocPhan_SinhVien] ([MaHocPhan], [MaLopHocPhan], [MaSinhVien], [DiemQuaTrinh], [DiemThiKTHP], [DiemTKHP], [DiemHeChu], [LanHoc]) VALUES (N'IE3.002.3', N'1-2-22-QT02', N'212600556', 6.5, 8.8, NULL, NULL, NULL)
INSERT [dbo].[LopHocPhan_SinhVien] ([MaHocPhan], [MaLopHocPhan], [MaSinhVien], [DiemQuaTrinh], [DiemThiKTHP], [DiemTKHP], [DiemHeChu], [LanHoc]) VALUES (N'IE3.002.3', N'1-2-22-QT02', N'212601105', 8.5, 8.5, NULL, NULL, NULL)
INSERT [dbo].[LopHocPhan_SinhVien] ([MaHocPhan], [MaLopHocPhan], [MaSinhVien], [DiemQuaTrinh], [DiemThiKTHP], [DiemTKHP], [DiemHeChu], [LanHoc]) VALUES (N'IE3.002.3', N'1-2-22-QT02', N'212602500', 7, 9.6, NULL, NULL, NULL)
GO
INSERT [dbo].[SinhVien] ([MaSinhVien], [HoDem], [Ten], [MaCTDT], [MaLop], [NgaySinh], [DiaChi], [DienThoai], [Email]) VALUES (N'171202737', N'Lê Thiên', N'Khang', N'7.48.02.01', N'K61.CNTT2', CAST(N'2002-08-11' AS Date), N'số 275, Vũ Tông Phan, P. Khương Trung, Q.Thanh Xuân, TP Hà Nội ', N'0968809252', N'LeThienKhang@utc.edu.vn')
INSERT [dbo].[SinhVien] ([MaSinhVien], [HoDem], [Ten], [MaCTDT], [MaLop], [NgaySinh], [DiaChi], [DienThoai], [Email]) VALUES (N'183000703', N'Cao Hùng', N'Anh', N'7.48.02.01', N'K61.CNTT2', CAST(N'2002-10-03' AS Date), NULL, NULL, NULL)
INSERT [dbo].[SinhVien] ([MaSinhVien], [HoDem], [Ten], [MaCTDT], [MaLop], [NgaySinh], [DiaChi], [DienThoai], [Email]) VALUES (N'191200482', N'Hoàng Kim', N'Dũng', N'7.48.02.01', N'K61.CNTT2', CAST(N'2002-04-21' AS Date), N'Nhà số 2 , xóm Tây Phướn , phường Trang Hạ , thị xã Từ Sơn , tỉnh Bắc Ninh ', N'0966090629', N'HoangKimDung@utc.edu.vn')
GO
ALTER TABLE [dbo].[BoMon]  WITH CHECK ADD  CONSTRAINT [FK_BoMon_Khoa] FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[Khoa] ([MaKhoa])
GO
ALTER TABLE [dbo].[BoMon] CHECK CONSTRAINT [FK_BoMon_Khoa]
GO
ALTER TABLE [dbo].[ChuongTrinhDaoTao]  WITH CHECK ADD  CONSTRAINT [FK_ChuongTrinhDaoTao_Khoa] FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[Khoa] ([MaKhoa])
GO
ALTER TABLE [dbo].[ChuongTrinhDaoTao] CHECK CONSTRAINT [FK_ChuongTrinhDaoTao_Khoa]
GO
ALTER TABLE [dbo].[CTDT_HocPhan]  WITH CHECK ADD  CONSTRAINT [FK_CTDT_HocPhan_ChuongTrinhDaoTao] FOREIGN KEY([MaCTDT])
REFERENCES [dbo].[ChuongTrinhDaoTao] ([MaCTDT])
GO
ALTER TABLE [dbo].[CTDT_HocPhan] CHECK CONSTRAINT [FK_CTDT_HocPhan_ChuongTrinhDaoTao]
GO
ALTER TABLE [dbo].[CTDT_HocPhan]  WITH CHECK ADD  CONSTRAINT [FK_CTDT_HocPhan_HocPhan] FOREIGN KEY([MaHocPhan])
REFERENCES [dbo].[HocPhan] ([MaHocPhan])
GO
ALTER TABLE [dbo].[CTDT_HocPhan] CHECK CONSTRAINT [FK_CTDT_HocPhan_HocPhan]
GO
ALTER TABLE [dbo].[GiangVien]  WITH CHECK ADD  CONSTRAINT [FK_GiangVien_BoMon] FOREIGN KEY([MaBoMon])
REFERENCES [dbo].[BoMon] ([MaBoMon])
GO
ALTER TABLE [dbo].[GiangVien] CHECK CONSTRAINT [FK_GiangVien_BoMon]
GO
ALTER TABLE [dbo].[HocPhan]  WITH CHECK ADD  CONSTRAINT [FK_HocPhan_BoMon] FOREIGN KEY([MaBoMon])
REFERENCES [dbo].[BoMon] ([MaBoMon])
GO
ALTER TABLE [dbo].[HocPhan] CHECK CONSTRAINT [FK_HocPhan_BoMon]
GO
ALTER TABLE [dbo].[HocPhanTienQuyet]  WITH CHECK ADD  CONSTRAINT [FK_HocPhanTienQuyet_HocPhan] FOREIGN KEY([MaHocPhan])
REFERENCES [dbo].[HocPhan] ([MaHocPhan])
GO
ALTER TABLE [dbo].[HocPhanTienQuyet] CHECK CONSTRAINT [FK_HocPhanTienQuyet_HocPhan]
GO
ALTER TABLE [dbo].[HocPhanTienQuyet]  WITH CHECK ADD  CONSTRAINT [FK_HocPhanTienQuyet_HocPhan1] FOREIGN KEY([MaHocPhanTienQuyet])
REFERENCES [dbo].[HocPhan] ([MaHocPhan])
GO
ALTER TABLE [dbo].[HocPhanTienQuyet] CHECK CONSTRAINT [FK_HocPhanTienQuyet_HocPhan1]
GO
ALTER TABLE [dbo].[Lop]  WITH CHECK ADD  CONSTRAINT [FK_Lop_Khoa] FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[Khoa] ([MaKhoa])
GO
ALTER TABLE [dbo].[Lop] CHECK CONSTRAINT [FK_Lop_Khoa]
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD  CONSTRAINT [FK_LopHocPhan_GiangVien] FOREIGN KEY([MaGiangVien])
REFERENCES [dbo].[GiangVien] ([MaGiangVien])
GO
ALTER TABLE [dbo].[LopHocPhan] CHECK CONSTRAINT [FK_LopHocPhan_GiangVien]
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD  CONSTRAINT [FK_LopHocPhan_HocPhan] FOREIGN KEY([MaHocPhan])
REFERENCES [dbo].[HocPhan] ([MaHocPhan])
GO
ALTER TABLE [dbo].[LopHocPhan] CHECK CONSTRAINT [FK_LopHocPhan_HocPhan]
GO
ALTER TABLE [dbo].[LopHocPhan_SinhVien]  WITH CHECK ADD  CONSTRAINT [FK_LopHocPhan_SinhVien_LopHocPhan] FOREIGN KEY([MaHocPhan], [MaLopHocPhan])
REFERENCES [dbo].[LopHocPhan] ([MaHocPhan], [MaLopHocPhan])
GO
ALTER TABLE [dbo].[LopHocPhan_SinhVien] CHECK CONSTRAINT [FK_LopHocPhan_SinhVien_LopHocPhan]
GO
ALTER TABLE [dbo].[LopHocPhan_SinhVien]  WITH CHECK ADD  CONSTRAINT [FK_LopHocPhan_SinhVien_SinhVien] FOREIGN KEY([MaSinhVien])
REFERENCES [dbo].[SinhVien] ([MaSinhVien])
GO
ALTER TABLE [dbo].[LopHocPhan_SinhVien] CHECK CONSTRAINT [FK_LopHocPhan_SinhVien_SinhVien]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien_ChuongTrinhDaoTao] FOREIGN KEY([MaCTDT])
REFERENCES [dbo].[ChuongTrinhDaoTao] ([MaCTDT])
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [FK_SinhVien_ChuongTrinhDaoTao]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien_Lop] FOREIGN KEY([MaLop])
REFERENCES [dbo].[Lop] ([MaLop])
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [FK_SinhVien_Lop]
GO
