
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Temp7/assets/css/header.css">
    <link rel="stylesheet" href="../Temp7/assets/css/base.css">
    <link rel="stylesheet" href="../Temp7/assets/css/grid.css">
    <link rel="stylesheet" href="../Temp7/assets/css/style.css">
    <link rel="stylesheet" href="../Temp7/assets/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="../Temp7/assets/css/all.min.css">
    <script src='../Temp7/assets/js/a076d05399.js' crossorigin='anonymous'></script>
    <title>Laptop Hoàng Phong</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
    <main class="main">
        @await Html.PartialAsync("Header")
    </main>
    
    @RenderBody()
    @await Html.PartialAsync("Footer")
</body>

</html>