@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/DaoMinhQuan_Layout.cshtml";
}
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<dynamic>
<div class="features_items">
<h2 class="title text-center">Features Items</h2>
	@foreach (var i in Model)
	{
		<div class="col-sm-4">
			<div class="product-image-wrapper">
				<div class="single-products">
					<div class="productinfo text-center">
						<img src="../Temp/images/home/product1.jpg" alt="" />
						<h2>$56</h2>
						<p>@i.Name</p>
						<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
					</div>
					<div class="product-overlay">
						<div class="overlay-content">
							<h2>$56</h2>
							<p>Easy Polo Black Edition</p>
							<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
						</div>
					</div>
				</div>
				<div class="choose">
					<ul class="nav nav-pills nav-justified">
						<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
						<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
					</ul>
				</div>
			</div>
		</div>
	}
	<ul class="pagination">
		@Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
	</ul>
</div>

