USE [master]
GO
/****** Object:  Database [de1]    Script Date: 11/11/2024 6:00:58 PM ******/
CREATE DATABASE [de1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'de1', FILENAME = N'E:\SQLSERVER\settingSQLSERVER\MSSQL16.SQLEXPRESS\MSSQL\DATA\de1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'de1_log', FILENAME = N'E:\SQLSERVER\settingSQLSERVER\MSSQL16.SQLEXPRESS\MSSQL\DATA\de1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [de1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [de1]
GO
/****** Object:  Table [dbo].[VatLieu]    Script Date: 11/11/2024 6:00:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VatLieu](
	[MaVL] [nvarchar](10) NOT NULL,
	[TenVatLieu] [ntext] NOT NULL,
	[DonViTinh] [nvarchar](8) NOT NULL,
	[GiaNhap] [nvarchar](8) NOT NULL,
	[GiaBan] [nvarchar](8) NOT NULL,
	[SoLuong] [int] NULL,
	[Anh] [ntext] NULL,
	[GhiChu] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[VatLieu] ([MaVL], [TenVatLieu], [DonViTinh], [GiaNhap], [GiaBan], [SoLuong], [Anh], [GhiChu]) VALUES (N'1', N'a', N'a', N'23', N'52', 4, N'C:\Users\fifah\OneDrive\Pictures\Screenshots 1\Screenshot 2024-10-21 020930.png', N'3')
INSERT [dbo].[VatLieu] ([MaVL], [TenVatLieu], [DonViTinh], [GiaNhap], [GiaBan], [SoLuong], [Anh], [GhiChu]) VALUES (N'2', N'3', N'4', N'5', N'6', 7, N'C:\Users\fifah\OneDrive\Pictures\Screenshots 1\Screenshot 2024-10-21 024021.png', N'3ab3')
INSERT [dbo].[VatLieu] ([MaVL], [TenVatLieu], [DonViTinh], [GiaNhap], [GiaBan], [SoLuong], [Anh], [GhiChu]) VALUES (N'VL001', N'2', N'asd', N'34', N'34', 5, N'C:\Users\fifah\OneDrive\Pictures\Screenshots 1\Screenshot 2024-10-21 000907.png', N'')
GO
USE [master]
GO
