USE [master]
GO
/****** Object:  Database [DuLieu]    Script Date: 11/11/2024 6:01:39 PM ******/
CREATE DATABASE [DuLieu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DuLieu', FILENAME = N'E:\SQLSERVER\settingSQLSERVER\MSSQL16.SQLEXPRESS\MSSQL\DATA\DuLieu.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DuLieu_log', FILENAME = N'E:\SQLSERVER\settingSQLSERVER\MSSQL16.SQLEXPRESS\MSSQL\DATA\DuLieu_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DuLieu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DuLieu]
GO
/****** Object:  Table [dbo].[tblChatLieu]    Script Date: 11/11/2024 6:01:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblChatLieu](
	[MaChatLieu] [int] IDENTITY(1,1) NOT NULL,
	[TenChatLieu] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChatLieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblHang]    Script Date: 11/11/2024 6:01:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHang](
	[MaHang] [int] IDENTITY(1,1) NOT NULL,
	[TenHang] [nvarchar](100) NOT NULL,
	[MaChatLieu] [int] NULL,
	[SoLuong] [int] NULL,
	[DonGiaNhap] [decimal](18, 2) NULL,
	[DonGiaBan] [decimal](18, 2) NULL,
	[Anh] [nvarchar](255) NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblChatLieu] ON 

INSERT [dbo].[tblChatLieu] ([MaChatLieu], [TenChatLieu]) VALUES (1, N'Gỗ')
INSERT [dbo].[tblChatLieu] ([MaChatLieu], [TenChatLieu]) VALUES (2, N'Kim loại')
INSERT [dbo].[tblChatLieu] ([MaChatLieu], [TenChatLieu]) VALUES (3, N'Nhựa')
SET IDENTITY_INSERT [dbo].[tblChatLieu] OFF
GO
SET IDENTITY_INSERT [dbo].[tblHang] ON 

INSERT [dbo].[tblHang] ([MaHang], [TenHang], [MaChatLieu], [SoLuong], [DonGiaNhap], [DonGiaBan], [Anh], [GhiChu]) VALUES (1, N'Bàn làm việc', 1, 10, CAST(500000.00 AS Decimal(18, 2)), CAST(800000.00 AS Decimal(18, 2)), NULL, N'Bàn làm việc chất liệu gỗ')
INSERT [dbo].[tblHang] ([MaHang], [TenHang], [MaChatLieu], [SoLuong], [DonGiaNhap], [DonGiaBan], [Anh], [GhiChu]) VALUES (2, N'Ghế ngồi', 1, 20, CAST(200000.00 AS Decimal(18, 2)), CAST(350000.00 AS Decimal(18, 2)), NULL, N'Ghế ngồi chất liệu gỗ')
INSERT [dbo].[tblHang] ([MaHang], [TenHang], [MaChatLieu], [SoLuong], [DonGiaNhap], [DonGiaBan], [Anh], [GhiChu]) VALUES (3, N'Tủ sách', 2, 5, CAST(1000000.00 AS Decimal(18, 2)), CAST(1500000.00 AS Decimal(18, 2)), NULL, N'Tủ sách chất liệu kim loại')
SET IDENTITY_INSERT [dbo].[tblHang] OFF
GO
ALTER TABLE [dbo].[tblHang]  WITH CHECK ADD  CONSTRAINT [FK_MaChatLieu] FOREIGN KEY([MaChatLieu])
REFERENCES [dbo].[tblChatLieu] ([MaChatLieu])
GO
ALTER TABLE [dbo].[tblHang] CHECK CONSTRAINT [FK_MaChatLieu]
GO
USE [master]
GO
