USE [master]
GO
/****** Object:  Database [kiemtrahosonhanvien]    Script Date: 11/11/2024 7:53:28 PM ******/
CREATE DATABASE [kiemtrahosonhanvien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'kiemtrahosonhanvien', FILENAME = N'E:\SQLSERVER\settingSQLSERVER\MSSQL16.SQLEXPRESS\MSSQL\DATA\kiemtrahosonhanvien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'kiemtrahosonhanvien_log', FILENAME = N'E:\SQLSERVER\settingSQLSERVER\MSSQL16.SQLEXPRESS\MSSQL\DATA\kiemtrahosonhanvien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [kiemtrahosonhanvien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [kiemtrahosonhanvien]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 11/11/2024 7:53:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [int] NOT NULL,
	[TenNV] [nvarchar](100) NOT NULL,
	[SoDT] [nvarchar](15) NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[Anh] [nvarchar](500) NULL,
	[MaPhongBan] [int] NULL,
	[MucLuong] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongBan]    Script Date: 11/11/2024 7:53:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongBan](
	[MaPhongBan] [int] IDENTITY(1,1) NOT NULL,
	[TenPhongBan] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhongBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [SoDT], [GioiTinh], [Anh], [MaPhongBan], [MucLuong]) VALUES (1, N'11', N'1111', N'Nữ', N'Screenshot 2024-10-20 234259_71392.png', 2, CAST(123.00 AS Decimal(18, 2)))
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [SoDT], [GioiTinh], [Anh], [MaPhongBan], [MucLuong]) VALUES (2, N'2', N'2', N'Nữ', N'Screenshot 2024-10-20 234259_71386.png', 1, CAST(2.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[PhongBan] ON 

INSERT [dbo].[PhongBan] ([MaPhongBan], [TenPhongBan]) VALUES (1, N'Kế toán')
INSERT [dbo].[PhongBan] ([MaPhongBan], [TenPhongBan]) VALUES (2, N'Thu ngân')
INSERT [dbo].[PhongBan] ([MaPhongBan], [TenPhongBan]) VALUES (3, N'Bảo vệ')
SET IDENTITY_INSERT [dbo].[PhongBan] OFF
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([MaPhongBan])
REFERENCES [dbo].[PhongBan] ([MaPhongBan])
GO
USE [master]
GO
