@model Temp17.Models.Huanluyenvien
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutChiTiet.cshtml";
}
<div class="row">
            <div class="col-md-6">
        <img src="@Url.Content("../images/" + Model.Anh)" alt="Image" class="img-fluid" style="width: 100%">
            </div>
            <div class="col-md-6">
                <h2 class="text-black">Name: @Model.TenHlv</h2>
                <p><strong class="text-primary h4">Năm sinh: @Model.NamSinh</strong></p>
                <p><strong class="text-primary h4">Quốc tịch: @Model.QuocTich</strong></p>
                <p><a href="cart.html" class="buy-now btn btn-sm btn-primary">Sửa</a></p>
                <p><a href="cart.html" class="buy-now btn btn-sm btn-primary">Xóa</a></p>
            </div>
</div>
        