<div id="menu_tab">
    <div class="left_menu_corner"></div>
    <ul class="menu">
        @await Component.InvokeAsync("Menu")
        
    </ul>
    <div class="right_menu_corner"></div>
</div>
<!-- end of menu tab -->