
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hoang Hon &mdash; Hotel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Work+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="bin/fonts/icomoon/style.css">

    <link rel="stylesheet" href="bin/css/bootstrap.min.css">
    <link rel="stylesheet" href="bin/css/magnific-popup.css">
    <link rel="stylesheet" href="bin/css/jquery-ui.css">
    <link rel="stylesheet" href="bin/css/owl.carousel.min.css">
    <link rel="stylesheet" href="bin/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="bin/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="bin/css/animate.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelementplayer.min.css">



    <link rel="stylesheet" href="bin/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="bin/css/aos.css">

    <link rel="stylesheet" href="bin/css/style.css">

</head>

<body>

    <div class="site-wrap">

        <div class="site-mobile-menu">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>

        @await Html.PartialAsync("Header")


        @RenderBody()






        @await Html.PartialAsync("Footer")
    </div>

    <script src="bin/js/jquery-3.3.1.min.js"></script>
    <script src="bin/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="bin/js/jquery-ui.js"></script>
    <script src="bin/js/popper.min.js"></script>
    <script src="bin/js/bootstrap.min.js"></script>
    <script src="bin/js/owl.carousel.min.js"></script>
    <script src="bin/js/jquery.stellar.min.js"></script>
    <script src="bin/js/jquery.countdown.min.js"></script>
    <script src="bin/js/jquery.magnific-popup.min.js"></script>
    <script src="bin/js/bootstrap-datepicker.min.js"></script>
    <script src="bin/js/aos.js"></script>


    <script src="bin/js/mediaelement-and-player.min.js"></script>

    <script src="bin/js/main.js"></script>


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var mediaElements = document.querySelectorAll('video, audio'),
                total = mediaElements.length;

            for (var i = 0; i < total; i++) {
                new MediaElementPlayer(mediaElements[i], {
                    pluginPath: 'https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/',
                    shimScriptAccess: 'always',
                    success: function () {
                        var target = document.body.querySelectorAll('.player'),
                            targetTotal = target.length;
                        for (var j = 0; j < targetTotal; j++) {
                            target[j].style.visibility = 'visible';
                        }
                    }
                });
            }
        });
    </script>

</body>

</html>