<div class="navigation">
	<a class="toggleMenu" href="#">Menu</a>
	<ul class="nav">
		<li>
			@await Component.InvokeAsync("TenSach")
		</li>
		
	</ul>
	<span class="left-ribbon"> </span>
	<span class="right-ribbon"> </span>
</div>