@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/DaoMinhQuan_Layout.cshtml";
}
@*
    @using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<dynamic>

<div class="row">
	<div class="col">
		<div class="product-grid" data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'>
			@foreach (var item in Model)
			{
				<div class="product-item women">
					<div class="product product_filter">
						<div class="product_image">
							<img src="@item.ImageUrl" alt="">
						</div>
						<div class="favorite"></div>
						<div class="product_info">
							<h6 class="product_name"><a href="single.html">@item.Name</a></h6>
							<div class="product_price">@item.Price</div>
						</div>
					</div>
					<div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
				</div>
			}
		</div>
	</div>
</div>

<div class="pages d-flex flex-row align-items-center justify-content-center">
	<div class="page_current">
		@Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
{
	LiElementClasses = new List<string> { "page-item" },
	PageClasses = new List<string> { "page-link" }
})
	</div>
</div>

*@

