<!DOCTYPE HTML>
<html>
<head>
	<title>Footwear - Free Bootstrap 4 template10 by Colorlib</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Rokkitt:100,300,400,700" rel="stylesheet">
	<!-- Animate.css -->
	<link rel="stylesheet" href="../template10/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="../template10/css/icomoon.css">
	<!-- Ion Icon Fonts-->
	<link rel="stylesheet" href="../template10/css/ionicons.min.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="../template10/css/bootstrap.min.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="../template10/css/magnific-popup.css">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="../template10/css/flexslider.css">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="../template10/css/owl.carousel.min.css">
	<link rel="stylesheet" href="../template10/css/owl.theme.default.min.css">
	<!-- Date Picker -->
	<link rel="stylesheet" href="../template10/css/bootstrap-datepicker.css">
	<!-- Flaticons  -->
	<link rel="stylesheet" href="../template10/fonts/flaticon/font/flaticon.css">
	<!-- Theme style  -->
	<link rel="stylesheet" href="../template10/css/style.css">
</head>
<body>
	<div class="colorlib-loader"></div>

	<div id="page">
		@await Html.PartialAsync("Header")
		@await Html.PartialAsync("Aside")

		<div class="colorlib-product">
			<div class="container">
				@RenderBody()
				<div class="row">
					<div class="col-md-12 text-center">
						<p><a href="#" class="btn btn-primary btn-lg">Shop All Products</a></p>
					</div>
				</div>
			</div>
		</div>

		@await Html.PartialAsync("Partner")
		@await Html.PartialAsync("Footer")
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
	</div>

	<!-- jQuery -->
	<script src="../template10/js/jquery.min.js"></script>
	<!-- popper -->
	<script src="../template10/js/popper.min.js"></script>
	<!-- bootstrap 4.1 -->
	<script src="../template10/js/bootstrap.min.js"></script>
	<!-- jQuery easing -->
	<script src="../template10/js/jquery.easing.1.3.js"></script>
	<!-- Waypoints -->
	<script src="../template10/js/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="../template10/js/jquery.flexslider-min.js"></script>
	<!-- Owl carousel -->
	<script src="../template10/js/owl.carousel.min.js"></script>
	<!-- Magnific Popup -->
	<script src="../template10/js/jquery.magnific-popup.min.js"></script>
	<script src="../template10/js/magnific-popup-options.js"></script>
	<!-- Date Picker -->
	<script src="../template10/js/bootstrap-datepicker.js"></script>
	<!-- Stellar Parallax -->
	<script src="../template10/js/jquery.stellar.min.js"></script>
	<!-- Main -->
	<script src="../template10/js/main.js"></script>

</body>
</html>

