
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hoang Hon &mdash; Hotel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Work+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="../template2/fonts/icomoon/style.css">

    <link rel="stylesheet" href="../template2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../template2/css/magnific-popup.css">
    <link rel="stylesheet" href="../template2/css/jquery-ui.css">
    <link rel="stylesheet" href="../template2/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../template2/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../template2/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="../template2/css/animate.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelementplayer.min.css">



    <link rel="stylesheet" href="../template2/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="../template2/css/aos.css">

    <link rel="stylesheet" href="../template2/css/style.css">

</head>

<body>

    <div class="site-wrap">
        @await Html.PartialAsync("Header")
        <!-- slide trang chủ -->
        <div class="slide-one-item home-slider owl-carousel">

            <div class="site-blocks-cover overlay" style="background-image: url(../template2/images/hero_1.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-7 text-center" data-aos="fade">

                            <h1 class="mb-2">Welcome To Suites</h1>
                            <h2 class="caption">Hotel &amp; Resort</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="site-blocks-cover overlay" style="background-image: url(../template2/images/hero_2.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-7 text-center" data-aos="fade">
                            <h1 class="mb-2">Unique Experience</h1>
                            <h2 class="caption">Enjoy With Us</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="site-blocks-cover overlay" style="background-image: url(../template2/images/hero_3.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-7 text-center" data-aos="fade">
                            <h1 class="mb-2">Relaxing Room</h1>
                            <h2 class="caption">Your Room, Your Stay</h2>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        
        <!-- danh sách phòng -->
        <div class="site-section bg-light">
            <div class="container">
                <p>
                    <a class="btn btn-primary" asp-action="ThemSach">Thêm Sách</a>
                </p>
                <div class="row">
                    <div class="col-md-6 mx-auto text-center mb-5 section-heading">
                        <h2 class="mb-5">Danh sách Độc Giả</h2>
                    </div>
                </div>
                @RenderBody()
            </div>
        </div>
        <!-- local -->
        <div class="py-5 quick-contact-info">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <div>
                            <span class="icon-room text-white h2 d-block"></span>
                            <h2>Location</h2>
                            <p class="mb-0">New York - 2398 <br> 10 Hadson Carl Street</p>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div>
                            <span class="icon-clock-o text-white h2 d-block"></span>
                            <h2>Service Times</h2>
                            <p class="mb-0">Wednesdays at 6:30PM - 7:30PM <br> Fridays at Sunset - 7:30PM <br> Saturdays at 8:00AM - Sunset</p>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div>
                            <span class="icon-comments text-white h2 d-block"></span>
                            <h2>Get In Touch</h2>
                            <p class="mb-0">Email: info@yoursite.com <br> Phone: (123) 3240-345-9348 </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @await Html.PartialAsync("Footer")
    </div>
    <script src="../template2/js/jquery-3.3.1.min.js"></script>
    <script src="../template2/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="../template2/js/jquery-ui.js"></script>
    <script src="../template2/js/popper.min.js"></script>
    <script src="../template2/js/bootstrap.min.js"></script>
    <script src="../template2/js/owl.carousel.min.js"></script>
    <script src="../template2/js/jquery.stellar.min.js"></script>
    <script src="../template2/js/jquery.countdown.min.js"></script>
    <script src="../template2/js/jquery.magnific-popup.min.js"></script>
    <script src="../template2/js/bootstrap-datepicker.min.js"></script>
    <script src="../template2/js/aos.js"></script>


    <script src="../template2/js/mediaelement-and-player.min.js"></script>

    <script src="../template2/js/main.js"></script>


    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var mediaElements = document.querySelectorAll('video, audio'),
                total = mediaElements.length;

            for (var i = 0; i < total; i++) {
                new MediaElementPlayer(mediaElements[i], {
                    pluginPath: 'https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/',
                    shimScriptAccess: 'always',
                    success: function() {
                        var target = document.body.querySelectorAll('.player'),
                            targetTotal = target.length;
                        for (var j = 0; j < targetTotal; j++) {
                            target[j].style.visibility = 'visible';
                        }
                    }
                });
            }
        });
    </script>

</body>

</html>